@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

/*chrome, safari, edge*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.greenColor {
  color: green !important;
}

.redColor {
  color: red !important;
}